Cons/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SakilaWFC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SakilaWFC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="country">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="tns:ArrayOfcity" />
      <xs:element minOccurs="0" name="country1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country_id" type="xs:short" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="country" nillable="true" type="tns:country" />
  <xs:complexType name="ArrayOfcity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="city" nillable="true" type="tns:city" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcity" nillable="true" type="tns:ArrayOfcity" />
  <xs:complexType name="city">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:ArrayOfaddress" />
      <xs:element minOccurs="0" name="city1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city_id" type="xs:int" />
      <xs:element minOccurs="0" name="country" nillable="true" type="tns:country" />
      <xs:element minOccurs="0" name="country_id" type="xs:short" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="city" nillable="true" type="tns:city" />
  <xs:complexType name="ArrayOfaddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="address" nillable="true" type="tns:address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfaddress" nillable="true" type="tns:ArrayOfaddress" />
  <xs:complexType name="address">
    <xs:sequence>
      <xs:element minOccurs="0" name="address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="city" nillable="true" type="tns:city" />
      <xs:element minOccurs="0" name="city_id" type="xs:int" />
      <xs:element minOccurs="0" name="customer" nillable="true" type="tns:ArrayOfcustomer" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="address" nillable="true" type="tns:address" />
  <xs:complexType name="ArrayOfcustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="customer" nillable="true" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcustomer" nillable="true" type="tns:ArrayOfcustomer" />
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="tns:address" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="create_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" type="xs:dateTime" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customer" nillable="true" type="tns:customer" />
</xs:schema>