Cons/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCountryModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryModel" nillable="true" type="tns:CountryModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryModel" nillable="true" type="tns:ArrayOfCountryModel" />
  <xs:complexType name="CountryModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country_id" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryModel" nillable="true" type="tns:CountryModel" />
  <xs:complexType name="ArrayOfCityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityModel" nillable="true" type="tns:CityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityModel" nillable="true" type="tns:ArrayOfCityModel" />
  <xs:complexType name="CityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cityId" type="xs:int" />
      <xs:element minOccurs="0" name="countryId" type="xs:int" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityModel" nillable="true" type="tns:CityModel" />
  <xs:complexType name="ArrayOfAddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressModel" nillable="true" type="tns:AddressModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressModel" nillable="true" type="tns:ArrayOfAddressModel" />
  <xs:complexType name="AddressModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="city_id" type="xs:int" />
      <xs:element minOccurs="0" name="desc_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="desc_address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="postal_code" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressModel" nillable="true" type="tns:AddressModel" />
  <xs:complexType name="ArrayOfCustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerModel" nillable="true" type="tns:CustomerModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerModel" nillable="true" type="tns:ArrayOfCustomerModel" />
  <xs:complexType name="CustomerModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address_id" type="xs:int" />
      <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_update" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="store_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerModel" nillable="true" type="tns:CustomerModel" />
</xs:schema>