Cons/Connected Services/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54277/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" />
  <xs:import schemaLocation="http://localhost:54277/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SakilaWFC" />
  <xs:element name="MostrarTodosCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" minOccurs="0" name="MostrarTodosCountryResult" nillable="true" type="q1:ArrayOfCountryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="nuevoCountry" nillable="true" type="q2:country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCountry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" minOccurs="0" name="VerCountryResult" nillable="true" type="q3:CountryModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="countryActualizado" nillable="true" type="q4:country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="countryDel" nillable="true" type="q5:country" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosCity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" minOccurs="0" name="MostrarTodosCityResult" nillable="true" type="q6:ArrayOfCityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="nuevoCity" nillable="true" type="q7:city" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="cityActualizado" nillable="true" type="q8:city" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="delCity" nillable="true" type="q9:city" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarCityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosAddress">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" minOccurs="0" name="MostrarTodosAddressResult" nillable="true" type="q10:ArrayOfAddressModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="nuevoAddress" nillable="true" type="q11:address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="addressActualizado" nillable="true" type="q12:address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="delAddress" nillable="true" type="q13:address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosCustomer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MostrarTodosCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SakilaWFC.Models" minOccurs="0" name="MostrarTodosCustomerResult" nillable="true" type="q14:ArrayOfCustomerModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="nuevoCustomer" nillable="true" type="q15:customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="customerActualizado" nillable="true" type="q16:customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SakilaWFC" minOccurs="0" name="delCustomer" nillable="true" type="q17:customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BorrarCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BorrarCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>